@import url('../css/fonts.css');

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

h1{
    font-family: 13.68px -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    color: #3A3A3A ;
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button{
    border: none;
    font-family: var(--Livvic);
    cursor: pointer;
    transition-duration: 0.4s;   
}
.button1{
    background: grey;
}
.button2{
    background: red;
}
.button3{
    background: red;
}
.button4{
    background: blue;

}

span{
    font-family: var(--Abel);
}


.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}
.nav{
    background: #303030;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 14px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.nav .nav-items .nav-link a{
    color:#9A9A9A;
}

.nav .nav-items .nav-link:hover a{
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Abel);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.footer {
    background-color: #303030;

}

.footer .footer-menu {
    height: 41px;

}

.footer nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.footer nav>ul a:not(.btn) {
    color: #9A9A9A;
    display: block;
    margin-bottom: 3px;
}

.footer nav>ul a:not(.btn):hover,
.footer nav>ul a:not(.btn):focus {
    color: #777777;
    text-decoration: none;
}

.footer .social-area {
    padding: 15px 0;
}

.footer .social-area h5 {
    padding-bottom: 15px;
}

.footer .social-area>a:not(.btn) {
    color: #9A9A9A;
    display: inline-block;
    vertical-align: top;
    padding: 10px 5px;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
}

.footer .social-area>a:not(.btn):hover,
.footer .social-area>a:not(.btn):focus {
    color: #777777;
}

.footer .copyright {
    color: #777777;
    padding: 10px 15px;
    margin: 10px 3px;
    line-height: 20px;
    font-size: 14px;
}

.footer hr {
    border-color: #DDDDDD;
}

.footer .title {
    color: #777777;
}

.footer-default {
    background-color: #F5F5F5;
}

.footer:not(.footer-big) nav>ul {
    font-size: 14px;
}

.footer:not(.footer-big) nav>ul li {
    margin-left: 20px;
    float: left;
}

.footer:not(.footer-big) nav>ul a {
    padding: 10px 0px;
    margin: 10px 10px 10px 0px;
}



@media (min-width: 992px) {
 
.footer {
    height: 60px;
}
.footer .footer-menu {
    float: left;
}
.footer .copyright {
    float: right;
}
.footer:not(.footer-big) nav>ul li:first-child {
    margin-left: 0;
}

}
@media only screen and (max-width: 934px){
    .content{
        width: 100%;
    }
    .content .main-content .post{
        width: 100%;
    }
    .content .main-content {
        width:100%;
        padding: 10px;
    }
    .content .sidebar {
        width: 100%;
        padding: 10px;
    }
    .content .sidebar .section.search{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 770px){
     .main-content-wrapper{
        padding: 10px;
     }

   

}

@media only screen and (max-width: 600px){
    .content .main-content .post{
        height: auto;

    }
    .content .main-content .post .post-image{
        width: 100%;
    }
    .content .main-content .post .post-preview{
        width: 100%;
    }
     .content .main-content.single{

        padding: 10px;
       
    }

}


@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

}


@media only screen and (max-width: 520px){
  

    nav .toggle-collapse{
        width: 80% !important;
    }

}


/* image rsponsive */
.img-responsive{
     width: 100%;
     height: auto;
}

